#but{
    background-image:linear-gradient(to left, blue,yellow,green);
    color:white;
    height:40px;
    width:170px;
    border-radius:20px;
    border-style: dotted;
   
    
}
#but:hover{
    background-color: blue;
    color:black;
}

